

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 8vw;
    height: 100vh;
    background-color: #ffaf5d;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
}

.open-nav-button {
    transform: rotate(90deg);
    position: fixed;
    left: 7vw;
    background-color: #ffaf5d;
    padding: .5em;
    padding-top: 0;
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    transition: .5s ease;
}
